<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
{% if error_message %}
    <p class="message error">{{ error_message }}</p>
{% endif %}
<form action="/login" method="post">
    <p>
    <label for="name">Введите логин:</label>
    <input type="text" name="username" id="name" required>
  </p>
  <p>
    <label for="password">Введите пароль:</label>
    <input type="password" name="password" id="password" required>
  </p>
  <button type="submit">Вход</button>
</form>
</body>
</html>